*, ::before, ::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  height: 100vh;
}

.navbar {
  height: 60px;
  width: 100%;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid black;
  position: fixed;
  z-index: 100;
}
.navbar .contItems {
  font-size: 22px;
  height: 100%;
  display: flex;
  align-items: center;
}
.navbar .contItems .items {
  margin-right: 30px;
  text-decoration: none;
  color: black;
}
.navbar .contItems .items:hover {
  color: #5f5f5f;
}

.accueil {
  height: 800px;
  width: 100%;
  background-color: #333;
  background: url("../ressources/home.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.accueil h1 {
  font-family: "Abril Fatface", sans-serif;
  color: #f1f1f1;
  font-size: 70px;
  letter-spacing: 5px;
  margin: 0;
  position: relative;
  padding-top: 150px;
}
.accueil h1::first-letter {
  font-size: 120px;
}
.accueil .sousTitreP {
  color: #f1f1f1;
  font-family: "Poppins", sans-serif;
  font-size: 22px;
}

@media screen and (max-width: 1000px) {
  .accueil h1 {
    font-size: 50px;
  }
}
@media screen and (max-width: 760px) {
  .accueil {
    height: 600px;
  }
  .accueil h1 {
    font-size: 30px;
  }
  .accueil .sousTitreP {
    font-size: 16px;
  }
}
@media screen and (max-width: 550px) {
  .accueil {
    height: 500px;
    align-items: flex-start;
  }
  .accueil h1 {
    margin: 0px 20px;
  }
  .accueil h1::first-letter {
    font-size: 50px;
  }
  .accueil .sousTitreP {
    margin: 0px 20px;
  }
}
.titreSec1 {
  text-align: center;
  font-size: 40px;
  padding-top: 20px;
}

.txtImg {
  padding-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  border-bottom: 1px dashed lightskyblue;
}
.txtImg .flexContainerSection1 {
  display: flex;
  justify-content: center;
  width: 1200px;
}
.txtImg .flexContainerSection1 .contImgSec1 {
  width: 45%;
  margin: 20px;
}
.txtImg .flexContainerSection1 .contImgSec1 img {
  width: 100%;
  height: auto;
  border-radius: 2px;
}
.txtImg .flexContainerSection1 .contTextSec1 {
  width: 45%;
  background-color: azure;
  margin: 20px;
  border-radius: 2px;
}
.txtImg .flexContainerSection1 .contTextSec1 h2 {
  text-align: center;
  font-size: 35px;
}
.txtImg .flexContainerSection1 .contTextSec1 .sousTitreSec1 {
  text-align: center;
}
.txtImg .flexContainerSection1 .contTextSec1 hr {
  width: 60px;
}
.txtImg .flexContainerSection1 .contTextSec1 .textSec1 {
  font-size: 19px;
  padding: 15px;
}
.txtImg .flexContainerSection1 .contTextSec1 .textSec1::first-letter {
  font-size: 30px;
}

@media screen and (max-width: 1200px) {
  .txtImg .flexContainerSection1 {
    flex-direction: column;
    align-items: center;
    width: 400px;
  }

  .contImgSec1 {
    width: 100%;
  }

  .contTextSec1 {
    width: 100%;
  }
}
@media screen and (max-width: 550px) {
  .titreSec1 {
    font-size: 25px;
  }
}

/*# sourceMappingURL=style.css.map */
